*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}

.header{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #573964, #44647e);
}

.upper-bar{
    height: 80px;
    position: relative;
    background: rgb(39, 29, 38);
}

nav{
    display:flex;
    align-items: center;
    padding:20px 8%;
}

nav .logo{
    width: 200px;
    margin-left: -50px;
    cursor: pointer;
}

nav ul{
    flex:1;
    text-align:right;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:0 20px;
}

nav ul li a{
    text-decoration: none;
    color:#ffff;
}

button{
    background:#efefef;
    height:30px;
    width:60px;
    border-radius: 20px;
    border:0;
    outline:0;
    cursor: pointer;
}

button span{
    display:block;
    background:#999;
    height:26px;
    width: 26px;
    border-radius:50%;
}

.message1 {
    height: 100px;
    text-align: center;
    margin: 6% auto;
    position: relative;
    padding: 5px;
    overflow: hidden;
    color:#ffff;
}

.message1 h1{
    font-size: 40px;
}

.message1 p{
    margin: 10px 0 40px;
    font-size: 20px;
    color:#ffff;
}


.button-box{
    position: relative;
    padding: 5px; 
    margin-top: 4%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
}

.calendar_btn{
    height: 100px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    width: 170px;
    margin: 30px auto;
    margin-right: 80px;
    position: relative;
    border-radius: 30px;
    font-size: 20px;

}

.quizzes_btn{
    height: 100px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    width: 170px;
    margin: 30px auto;
    margin-right: 80px;
    position: relative;
    border-radius: 30px;
    font-size: 20px;

}

.flashcards_btn{
    height: 100px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    width: 170px;
    margin: 30px auto;
    margin-left: 80px;
    position: relative;
    border-radius: 30px;
    font-size: 20px;

}

.studylink_btn{
    height: 100px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    width: 170px;
    margin: 30px auto;
    margin-left: 80px;
    position: relative;
    border-radius: 30px;
    font-size: 20px;

}
